@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Devpoa<br />
    Porto Alegre, RS 91920-130<br />
    <abbr title="Phone">P:</abbr>
    +55 51 996699337
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">suporte.devpoa@gmail.com</a><br />
</address>
